/*palette of colors: 
  white : FFFFFF
  pink: FA95FF
  magenta: FF2FB8
  lilla: C642BA
  prune: 3B0053
  charcoal:292929
  black: 000000
*/
/*palette second
  azzurro : #00B8D4
  orange: #FFA726
  red: #FF3D00
  steel: #37474F

*/

  * {
      box-sizing: border-box;
      font-family: 'Tauri', sans-serif;
      /* font-family: 'Oxygen', sans-serif; */
    }
  a {
    text-decoration: none;
    color: #00B8D4;
  }
  a:hover{
    color: #FFA726;
  }
  body {
    
    color: #292929;
    margin: 0;
    text-align: left;
    line-height: 2.0;
    
    /* background:  url('rosone.gif');
    background-repeat: no-repeat;
    background-position: right top; */
    /* background-size: cover; */  
  }
  button {
    display:block;
    position: fixed;
    border-radius: 10px;
    border: solid 2px #3B0053;
    background-color: #00B8D4;
    font-size: 16px;
  }
  button:hover {
    background-color:#FFA726;
  }
  header {
    padding-top: 12%;
    padding-bottom:3%;
  }
  footer {
    Padding: 10px;
    color: white;  
  }
  li a {
    color: #00B8D4;
  }
  main {
    order: 3;
    width: 80%;
    border-left: solid #292929 3px;
    padding: 2%;
  }
  nav,
  footer {
    
    background-color: #292929;
    width: 100%;
    z-index: 10;
    
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1% 0;
  }
  section.myPortfolio { 
    padding: 3% 0;
  }
  .contacts {
    padding: 2% 0;
  }
  .email {
    width: 3%;
    position: relative;
    top: 7px;
  }
  .rosone {
    position: absolute;
    right: 0;
    opacity: 0.3;
    width: 40%;
    z-index: -1;  
  }
  .wrapper {
    display: flex;
    flex-flow: row wrap;
    /* background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80); For IE8 and earlier */
  }

 /*mobile screens*/ 
@media screen and (max-width: 510px) {
  body {
    font-size: 16px; 
  }
  button {
    right: 2em;
    bottom: 40px;
    padding:7px;
    font-size: 14px;
  }
  h1 {
    font-size:28px;
  }
  nav {
    padding: 0;
  }
  ul.ulNav {
    display: inline;
    list-style-type: none;
    margin: 0; 
  }
  .nav li {
    display: inline;
    font-size:16px;  
  }
  .nav a {
    display: inline-block;
    padding: 5px;
    margin-right: 15px;  
  }
  .sidebar {
      display: block;
      height: 100%;
      width: 7%; /*to be converted in scalable measurement*/
      margin-top: auto;
      margin-bottom: auto;
      order: 1;
  }
  .pictureProj1 {
    width: 100%; 
  }   
}


/*for tablets*/
@media screen and (min-width: 511px) and (max-width: 1400px) {
  body { 
    font-size: 16px;
  }
  button {
    right: 2em;
    bottom: 50px;
    padding:7px;
  }
  nav {
    padding: 0;
  }
  ul.ulNav {
    display: inline;
    list-style-type: none;
    margin: 1%;
  
  }
  .nav li {
    display: inline;
    font-size:16px;
  }
  .nav a {
    display: inline-block;
    padding: 5px;
    margin-right: 15px;
  }
  .pictureProj1 {
    width: 49%; 
  }
  .sidebar {
      display: block;
      height: 100%;
      width: 7%; 
      margin-top: auto;
      margin-bottom: auto;
      order: 1; 
  } 
}


/*for computers*/
@media screen and (min-width: 1401px) {
  body { 
    font-size: 20px; 
  }
  button {
    right: 7em;
    bottom: 70px;
    padding:  7px 15px;
  }
  h1{
    font-size: 32px;
  }
  nav {
    padding: 0;
  }
  ul.ulNav {
    display: inline;
    list-style-type: none; 
  }
  .lifeIntro {
    width:70%;
  }
  .love {
    font-weight:bold;
  }
  .nav li {
    display: inline;
  }
  .nav a {
    display: inline-block;
    padding: 5px;
    margin-right: 15px;
  }
  .pictureProj1 {
    width: 49%; 
  }
  .sidebar {
      display: block;
      height: 100%;
      width: 5%; 
      order: 1;
  }
}  