@import "compass/css3";

.btn {
  color: rgb(16,24,50);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.075em;
  padding: .8em 1em;
  margin: auto 2em;
  /* position: relative; */
  align-self: center;
  /* text-transform: uppercase; */
  border: 3px #ff00ff solid;
  border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image-slice: 1 1 0 0;
  z-index: 1;
  /* box-shadow: -0.5em .5em transparentize(rgb(16,24,50),1); */
  transform-origin: left bottom;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.btn:before {
    border-image: linear-gradient(45deg, #00bcdd 0%, adjust-hue(#00bcdd,10%) 100%);
    border-image-slice: 1 1 0 1;
    left: -0.59em; top: .15em;
    width: .31em;
    height: 100%;
    transform: skewY(-45deg);
}
.btn:after {
    border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
    border-image-slice: 1 1 1 0;
    bottom: -0.61em; right: 0.16em;
    width: 100%;
    height: .31em;
    transform: skewX(-45deg);
}
.btn:before, .btn:after {
    border: 3px #00bcdd solid;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
}
.btn:hover {
    border-image-slice: 1;
    background-color: white;
    background-size: 90%;
    transform: translate(0.5em,-0.5em);
    box-shadow: -1em 1em .15em transparentize(rgb(16,24,50),.9);
    /* box-shadow: -1em 1em 1em transparentize(#00bcdd,.9), -1em 1.9em 1.9em transparentize($rgb(16,24,50),.9), 0em .38em .38em transparentize($rgb(16,24,50),.9), 0em .76em .76em transparentize($rgb(16,24,50),.9), 0em 1.52em 1.52em transparentize($rgb(16,24,50),.9);
      */
}
.btn:hover:before {
    background-image:(linear-gradient(45deg, #00bcdd 0%, adjust-hue(#00bcdd,10%) 100%));
    height: calc(100% - .13em);
    border-image-slice: 1; 
}
.btn:hover:after {
    background-image:(linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%));
      width: calc(100% - .13em);
      border-image-slice: 1;
}

.cta {
  background-image:linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  border-image: linear-gradient(45deg, lighten(#00bcdd,20%) 0%, lighten(#ff00ff,20%) 100%);
  border-image-slice: 1;
  color: white;
}
.cta:before {
    border-image-slice: 1;
   background-image:(linear-gradient(45deg, #00bcdd 0%, adjust-hue(#00bcdd,10%) 100%));
    left: -0.75em;
    top: .15em;
}
.cta:after {
    border-image-slice: 1;
    background-image:(linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%));
    bottom: -0.75em;
    right: .15em;
}
.cta:hover {
    background: white;
    border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
    border-image-slice: 1;
    color: rgb(16,24,50);
}
.cta:hover:before {
    height: 100%;
}
.cta:hover:after {
    width: 100%;
  }

@media screen and (max-width: 510px){
.btn.cta {
    display:none;
}
}

